.header{
  .logo{
    img{
      width: 7.5rem;
      margin-right: .8rem;
      margin-left: .5rem;
    }
  }
  .globalNav{
    .topics{
      & a{
        margin-right: .7rem;
        font-size: .8rem;
      }
    }
  }
  .contact-time{
    margin-right: .5rem;
  }
  a.button1{
    width: 7rem;
    height: 2.5rem;
    margin-right: .3rem;
    padding-top: .7rem;
    padding-left: 1.8rem;
  }
  a.button2{
    width: 8rem;
    height: 2.5rem;
    padding-top: .7rem;
    padding-left: 1.3rem;
  }
}



.main-view{
  .bottom-view{
    .bv-list{
      width: 90%;
      margin: 0 auto;
    }
  }
}




// price.html---------------------------


.pan{
  .pan-wrap{
    & a:nth-child(1){
      margin-left: 8.7rem;
    }
  }
}


.price-detail{
  .price-detail-2{
    .plan-wrap{
  // padding-left: 1rem;
  // padding-right: 1rem;
  width: 90%;
    }
  }
}




