h1 {
  font-size: 2rem !important;
}
h2,
h2 span {
  font-size: 1.5rem !important;
}
h3 {
  font-size: 1.2rem !important;
}
h4 {
  font-size: 1.1rem !important;
}

html {
  font-size: 14px;
}

.header {
  height: 60px;
  .header-inner {
    height: 60px;
    padding: 0px;
    position: relative;
    // .logo{
    // img{
    // margin-left: 20px;
    // width: 120px;
    // }
    // }

    .globalNav {
      // transform: translateX(100%);
      position: fixed;
      opacity: 0;
      top: 60px;
      left: 0px;
      width: 100%;
      height: 100%;
      color: #fff;
      background: #fff;
      text-align: center;
      opacity: 0;
      transition: 0.4s ease-in-out;
      visibility: hidden;
      padding-top: 130px;
      font-size: 1.5rem;
      z-index: 3;
      .topics {
        flex-direction: column;
        font-size: 2.4rem;
        text-align: center;
        margin-left: 0px;
        a {
          margin-right: 0;
        }
        li:not(:last-child) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
    // .reverse{
    //   display: flex;
    //   margin: 0 0 0 auto;
    // }
    .gnav-btn {
      order: 2;
      margin: 0 20px 0 10px;
      display: inline-block;
      position: relative;
      width: 26px;
      height: 26px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 4;
      & span {
        position: absolute;
        width: 100%;
        height: 2px;
        display: inline-block;
        background: #1B224C;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
      }
      & span:nth-child(1) {
        top: 20%;
      }
      & span:nth-child(2) {
        top: 50%;
      }
      & span:nth-child(3) {
        top: 80%;
      }
    }

    .gnav-btn.open span:nth-child(1) {
      transform: rotate(45deg);
      top: 48%;
    }
    .gnav-btn.open span:nth-child(2) {
      opacity: 0;
      transition: opacity 0.3s;
    }
    .gnav-btn.open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 48%;
    }

    .globalNav.slide-in {
      opacity: 1;
      visibility: visible;

      .topics {
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 4px;
        a {
          margin-right: 0;
        }
        li:not(:last-child) {
          margin-right: 0;
          margin-bottom: 40px;
        }
      }
    }
    .contact-time {
      margin: 0 0 0 auto;
    }
    a.button1 {
      width: 6.4rem;
      height: 2.3rem;
      font-weight: normal;
      padding-top: 0.6rem;
      padding-left: 1.4rem;
      margin-left: 1rem;
    }
    a.button2 {
      width: 6.4rem;
      height: 2.3rem;
      padding-top: 0.6rem;
      padding-left: 0.5rem;
      font-weight: normal;
    }
  }
}

.main-view {
  height: auto;
  padding-top: 60px;
  .upper-view {
    height: 440px;
    & h1 {
      padding-top: 5.5rem;
    }
    & p {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
    & a.rq {
      width: 12rem;
      border-radius: 12px;
      font-size: 1.2rem;
      padding-top: 1rem;
    }
    & a.ct {
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }
  .bottom-view {
    & h2 {
      margin-bottom: 3rem;
    }
    .bottom-view-container {
      & p {
        font-weight: normal;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.9rem;
      }
    }

    .bv-list {
      width: 90%;
      .bv-wrap {
        border: 3px solid #1b224c;
        & p{
          margin-top: 2rem;
        }
      }
    }
  }
}

.main-contents {
  .main-container {
    .first-contents {
      padding-bottom: 4rem;
      .first-container {
        width: 90%;
        margin: 0 auto;
        & h2 {
          padding-top: 3rem;
        }
        .first-content,
        .second-content,
        .third-content {
          margin-bottom: 6.5rem;
          .first-content-wrapper,
          .second-content-wrapper,
          .third-content-wrapper {
            display: flex;
            height: 100%;

            .fl-content,
            .tl-content,
            .sr-content {
              width: 55.5555%;
              .feature {
                margin-bottom: 1.3rem;
              }
              & h3 {
                margin-bottom: 1.3rem;
                line-height: 2rem;
              }
            }
            // .fr-content, .tr-content, .sl-content {
            // // margin: 0 0 0 1rem;
            // }
          }
        }
      }// first-containerのとじタグ
      .price{
        width: 90%;
        margin: 0 auto;
        h3{
          padding-top: 3rem;
          margin-bottom: 2.5rem;
        }
        a.button3{
          width: 10rem;
          border-radius: .5rem;
          font-size: .9rem;
          padding-top: .9rem;
        }
      }
    }// first-contentsのとじタグ
    .second-contents{
      padding-bottom: 0rem;
      h2{
        padding-top: 4rem;
        margin-bottom: 5rem;
      }
      .wp{
        // width: 96%;
        margin: 0 auto;
        flex-direction: column;
        .wrapper{
          margin-right:auto;
          margin-left: auto;
          margin-bottom: 5rem;
          max-width: 400px;
          width: 100%;
          p{
            font-weight: normal;
          }
          .pic{
            height: 244px;
          }
        }// wrapperのとじタグ
      }// wpのとじタグ
    }// second-contentsのとじタグ
    .third-contents{
      .third-container{
        & h2{
          padding-bottom: 1.8rem;
        }
        .first-block{
          height: auto;
          width: 90%;
          margin: 0 auto;
          height: auto;
          margin-bottom: 7rem;
          .fb-item{
            height: 6rem;
            .number{
              padding-top: 2.4rem;
              width: 100%;
              max-width: 40px;
              height: 100%;
              padding-left: .8rem;
            }
            .fb-info{
              & h4{
                max-width: 130px;
                width: 100%;
              }
              h4:before{
                width: 50px;
                bottom: 40px;
              }
              & p{
                padding-left: 2rem;
                line-height: 1.7rem;
              }
            }
          }
        }// first-blockのとじタグ

        .second-block{
          width: 90%;
          margin: 0 auto;
          margin-bottom: 7rem;
          .faq-list{
            .faq-list-q:before{
              width: 20px;
            }
            .faq-list-q:after{
              height: 20px;
              right: 17px;
            }
            .faq-list-a{
              padding-right: 2.5rem;
            }
          }

        }// second-blockのとじタグ

        .third-block{
          width: 96%;
          margin: 0 auto;
          flex-direction: column;
          .blog{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7rem;
            & h3{
              text-align: center;
              font-size: 1.5rem !important;
            }
            .blog-item{
              .blog-info{
                & time{
                  font-size: 1rem;
                  margin-top: 3rem;
                }
              }
            }
          }
          .info{
            margin: 0 auto;
            & h3{
              text-align: center;
              font-size: 1.5rem !important;
            }
              .info-item{
              & time{
                font-size: 1rem;
              }
            }
          }
        }// third-blockのとじタグ
      }// .third-containerのとじタグ
    }// third-contentsのとじタグ
  }
}







.footer{
  height: auto;
  .upper-footer{
    height: auto;
    .upper-upper{
      height: 220px;
      & h3{
        padding-top: 3rem;
        letter-spacing: .1rem;
      }
      & a.rq{
        margin-top: 2rem;
        width: 12rem;
        padding-top: 1.2rem;
        border-radius: 10px;
      }
      & a.ct{
        margin-top: 1.8rem;
      }
    }// upper-upperのとじタグ


    .upper-bottom{
      display: none;
      // height: 80px;
      // .upper-bottom-wrap{
      //   justify-content: center;
      //   & p:nth-child(1){
      //     font-weight: normal;
      //   }
      //   & h2{
      //     font-weight: normal;
      //     padding-top: 0rem;
      //   }
      //   & p{
      //     padding-top: 0rem;
      //   }
      // }
    }// upper-bottomのとじタグ
  }// upper-footerのとじタグ



  .bottom-footer{
    height: auto;
    .bottom-upper{
      flex-direction: column;
      height: 160px;
      .footer-menu{
        margin: 0 auto;
        a:first-of-type{
          padding-left: 1rem;
        }
        a{
          margin-top: 2.3rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      .footer-logo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.3rem;
        display: flex;
        .logo{
          margin-top: 0px;
          width: 150px;
          height: 45px;
          margin-right: 2rem;
          img{
            width: 110px;
            height: 21.8px;
          }
        }
        .contacts{
          margin-left: 2rem;
          margin-top: 0rem;
          // text-align: center;
          // padding-bottom: 2rem;
          // p {
            // margin-top: .7rem;
          // }
        }
      }
    }



    .bottom-bottom{
      & p{
        text-align: center;
      }
    }
  }
}





// price.html---------------

.top-pic-price{
  padding-top: 60px;
  h2{
    margin-top: 7rem;
  }
}



.pan{
  .pan-wrap{
    padding-top: 1.1rem;
    & a:nth-child(1){
      margin-left: 2.5rem !important;
    }
  }
}


.price-detail{
  .price-detail-1{
    width: 90%;
  }
  .price-detail-2{
    .plan-wrap{
  max-width: none;
  width: 768px !important;  /* コンテンツが見切れて見えるようにする */
  // padding-right: 0px;
  // padding-left: 0px;
  // overflow-x: scroll;  /* 横スクロールの指定 */
  display: -ms-flexbox;
  white-space: nowrap;  /* 横スクロールの指定 */
  // overflow-scrolling: touch;  /* スクロールを滑らかにする */
  -webkit-overflow-scrolling: touch;  /* スクロールを滑らかにする */
    }
  }
}




// blog.html------------------------
.top-pic-blog{
  padding-top: 60px;
  h2{
    margin-top: 7rem;
  }
}

.blog-detail{
  .blog-detail-1{
    width: 90%;
  }
}

.page-nation{
  .page-wrap{
    .num{
      width: 40px;
      height: 40px;
    }
  }
}
