// /*resetCSS*/
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}
// ここまでリセットcss

html{
  font-size: 16px;
}

body {
  width: 100%;
  height: 5315px;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: “YuGothic”,"游ゴシック体", serif;
  color: #1B224C;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
img{
  max-width: 100%;
  height: auto;
}
a, a:visited, a:hover, a:active {
  color: #1B224C;
  text-decoration: none;
}
body{
  background-color: azure;
}
.header{
  // background-color: beige;
}
.header-inner{
  // background-color: burlywood;
}
.main-view{
  background-color: darkgray;
}
.upper-view{
  background-color: darkkhaki;
}
.bottom-view{
  background-color: lavenderblush;
}
.main-contents{
  background-color:#d4ba9f;
}
.main-container{
  background-color: lightskyblue;
}
.first-contents{
  background-color: navajowhite;
}
.second-contents{
  background-color: plum;
}
.third-contents{
  background-color: seashell;
}
.footer{
  background-color: whitesmoke;
}
.upper-footer{
  background-color: honeydew;
}
.bottom-footer{
  background-color: hotpink;
}





.header {
  height: 80px;
  width: 100%;
  // position: fixed;
  background: #FFFFFF 0% 0% no-repeat padding-box;

  .header-inner {
  height: 80px;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  // justify-content: space-between;
  }

  .logo{
    display: flex;
    align-items: center;
    & a{
      text-decoration: none;
    }

    img{
      width: 8.5rem;
      margin-left: 1.06rem;
      margin-right: 1.75rem;
    }
  }
  .globalNav{
    display: block;
    .topics{
      display: flex;
      & a{
        text-decoration: none;
        margin-right: 1.75rem;
        font-weight: bold;
        display: inline-block;
      }
      & a, a:visited, a:hover, a:active {
        color: #1B224C;
      }
    }
  }
  .gnav-btn{
    font-size: 0px;
    margin: 0 0 0 auto;
  }
  .contact-time{
    display: flex;
    flex-direction: column;
    margin-right: 1.44rem;
    & p{
      font-size: 12px;
      text-align: right;
    }
    & a{
      font-weight: bold;
      text-decoration: none;
    }
    & a, a:visited, a:hover, a:active {
        color: #1B224C;
    }
    .call{
      position: relative;
    }
    .call::after {
      content:"";
      background:url(images/call.png) no-repeat center;
      background-size: contain;
      background-repeat: no-repeat;
      width: .62rem;
      height: 1.5rem;
      position: absolute;
      left: -.8rem;
      display: inline-block;
    }
  }
  a.button1, a.button2{
    display: flex;
    text-align: right;
    height: 3.13rem;
    font-size: 14px;
    font-weight: bold;
    // display: inline-block;
    color: #ffffff;
    // display: block;
    // width: 170px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
  }
  a.button1{
    background: #F5A623 0% 0% no-repeat padding-box;
    width: 150px;
    padding-top: 1rem;
    padding-left: 2.9rem;
  }
  a.button2{
    background: #1B224C 0% 0% no-repeat padding-box;
    width: 137px;
    padding-top: 1rem;
    padding-left: 1.6rem;
  }
}






.main-view {
  width: 100%;
  height: 1080px;
  color: #FFFFFF;

  .upper-view{
  height: 476px;
  max-width: 1280px;
  margin: 0 auto;
  background: transparent url('images/teachers.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  text-align: center;
  & h1{
    padding-top: 6.9rem;
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  & p{
    font-size: 1.125rem;
    line-height: 2.3rem;
  }
  & a.rq {
    // display: flex;
    margin: 0 auto;
    display: block;
    color: #FFFFFF;

    margin-top: 2.4rem;
    background: #F5A623 0% 0% no-repeat padding-box;
    border-radius: 31px;
    width: 260px;
    height: 60px;
    padding-top: 1.2rem;
    // padding-left: 2.9rem;
  }
  & a.ct{
    color: #FFFFFF;
    // display: flex;
    display: block;
    margin-top: 22px;
    text-decoration: underline;
  }
}
  .bottom-view{
  height: 604px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #1B224C;
  color: #ffffff;
  text-align: center;
  & h2{
    font-size: 2rem;
    padding-top: 3.8rem;
    margin-bottom: 4rem;
  }
  .bottom-view-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4.1rem;
    & p{
      line-height: 2rem;
      margin-left: 1.7rem;
      margin-right: 1.7rem;
      letter-spacing: .05rem;
    }
  }
  .bv-list{
    margin: 0 auto;
    position: relative;
    width: 900px;
    height: 248px;
    background-color: #ffffff;
    color: #1B224C;
    // z-index: -2;
    .bv-wrap{
      position: absolute;
      top: .68rem;
      left: 1rem;
      width: 868px;
      height: 225px;
      border: 5px solid #1B224C;
      z-index: 10;
    & h2{
      padding-top: 0;
      margin-bottom: 0;
      font-size: 2rem;
      line-height: 3rem;
      margin-top: 1rem;
    }
    & h2 span{
      font-size: 2rem;
      position: relative;
      font-weight: bold;
    }
    & h2 span::before{
      content: "";
      width: 102%;
      height: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: -1;
      background-color: #F5A623;
    }
    & p{
      font-size: 1.125rem;
      margin-top: 1.2rem;
      line-height: 2rem;
    }
    }
  }
  }
}




// main_contents

.main-contents {
  // max-width: 1920px;
  height: 3553px;

  .main-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;

    .first-contents {
      height: 1341px;
      width: 900px;
      margin: 0 auto;
      .first-container{
        & h2{
          font-size: 2rem;
          padding-top: 3.5rem;
          text-align: center;
          padding-bottom: 3.5rem;
        }



        .first-content, .second-content, .third-content{
          height: 240px;
          background-color: lavenderblush;
          margin-bottom: 60px;
          .first-content-wrapper, .second-content-wrapper, .third-content-wrapper {
            display: flex;
            height: 100%;

            .fl-content, .tl-content, .sr-content {
              .feature{
                width: 90px;
                height: 30px;
                font-size: 12px;
                background: #F5A623 0% 0% no-repeat padding-box;
                margin-bottom: 2rem;
                color: #ffffff;
                padding-top: .4rem;
                padding-left: 1.6rem;
              }
              & h3 {
                font-size: 2rem;
                margin-bottom: 1.8rem;
              }
              & p {
                width: 500px;
              }
            }
            .fr-content, .tr-content, .sl-content {
              width: 38.88%;
              margin: 0 0 0 auto;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .second-content{
          height: 240px;
          background-color: lemonchiffon;
          margin-bottom: 60px;
          .second-content-wrapper{
            .sl-content{
              margin: 0 auto 0 0;
            }
          }
        }
        .third-content{
          height: 240px;
          background-color: lightblue;
          margin-bottom: 93px;
        }
      } // first-containerのとじタグ
      .price{
        height: 217px;
        background-color: lightcoral;
        background: transparent url('images/price.png') 0% 0% no-repeat padding-box;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #FFFFFF;
        h3{
          padding-top: 3.81rem;
          font-size: 1.625rem;
          margin-bottom: 1.6875rem;
        }
        a.button3{
          display: inline-block;
          border: 1px solid #FFFFFF;
          border-radius: 30px;
        width: 200px;
        height: 50px;
        padding-top: .8rem;
        // padding-left: 2.9rem;
        color: #FFFFFF;
        }
      }
    }// first-contentsのとじタグ



    .second-contents {
      height: 608px;
      background-color: #1B224C;
      color: #ffffff;
      text-align: center;
      & h2{
        font-size: 2rem;
        padding-top: 3.625rem;
        margin-bottom: 8.5625rem;
      }
      .wp{
        display: flex;
        width: 900px;
        margin: 0 auto;
        justify-content: space-between;
        .wrapper{
          width: calc(33.33333333% - 30px * 2 / 3);
          p {
            text-align: left;
            line-height: 1.8rem;
            margin-bottom: .7rem;
            font-weight: bold;
          }
          .pic{
            background-color: #FFFFFF;
            height: 171px;
            img{
              width: 45%;
              margin-top: 1.9rem;
            }
          }
          .details{
            margin-top: 1rem;
            display: flex;
            color: #1B224C;
            height: 2rem;
            & p{
              padding-top: .1rem;
              background: #F8F8F8 0% 0% no-repeat padding-box;
              font-weight: unset;
              margin-bottom: 0;
            }
            .works{
              padding-left: .625rem;
              width: 35.71%;
              margin-right: .5rem;
            }
            .name{
              width: 64.29%;
              padding-left: .875rem;
            }
          }
          p.feature{
            padding-top: .1rem;
            height: 2rem;
            padding-left: .875rem;
            font-weight: unset;
            margin-top: .625rem;
            background: #F8F8F8 0% 0% no-repeat padding-box;
            color: #1B224C;
          }
        }
      }
    }





    .third-contents {
      height: 1604px;
      .third-container{
        width: 900px;
        margin: 0 auto;
        height: 100%;
        background-color: lightgreen;
        & h2 {
          font-size: 2rem;
          text-align: center;
          padding-top: 3.625rem;
          padding-bottom: 3.3125rem;
        }
        .first-block{
          height: 280px;
          // margin-bottom: 4.6875rem;
          .fb-item{
            align-items: center;
            height: 4rem;
            // width: 100%;
            margin-bottom: .5rem;
            display: flex;
            .number{
              height: 100%;
              width: 4rem;
              background: #F5A623 0% 0% no-repeat padding-box;
              color: #FFFFFF;
              padding-top: 1.35rem;
              padding-left: 1.35rem;
            }
            .fb-info{
              width: 52.25rem;
              display: flex;
              line-height: 2rem;
              background: #F8F8F8 0% 0% no-repeat padding-box;
              height: 100%;
              & h4{
                padding-top: 1rem;
                padding-left: 1.5rem;
                width: 214px;
                border-right: 1px solid #C3C3C3;
                font-size: 1.125rem;
              }
              & p{
                padding-top: 1rem;
                padding-left: 3.3125rem;
              }
            }
          }

        }// first-blockのとじタグ



        .second-block{
          height: 300px;
          background-color: lightgrey;
          margin-bottom: 5.64rem;
        }// second-blockのとじタグ
        .third-block{
          display: flex;
          background-color: lightgrey;
          height: 500px;
        }// third-blockのとじタグ

      }// third-containerのとじタグ
    }// third-contentsのとじタグ
  }// main-containerのとじタグ
}// mainのとじタグ

.footer {
  height: 601px;

  .upper-footer {
    height: 336px;
    max-width: 1280px;
    margin: 0 auto;
    .upper-upper{
      height: 256px;
      text-align: center;
      background: transparent url('images/cta.png') 0% 0% no-repeat padding-box;
      background-position: center;
      background-size: cover;
      color: #FFFFFF;
      & h3{
        padding-top: 4.375rem;
        font-size: 2rem;
      }
      & a.rq {
      margin: 0 auto;
      display: block;
      color: #FFFFFF;
      margin-top: 1rem;
      background: #F5A623 0% 0% no-repeat padding-box;
      border-radius: 25px;
      width: 280px;
      height: 50px;
      padding-top: .85rem;
      }
      & a.ct{
      color: #FFFFFF;
      display: block;
      margin-top: 1.375rem;
      text-decoration: underline;
      }
    }// upper-upperのとじタグ

    .upper-bottom{
      display: flex;
      margin: 0 auto;
      background-color: #F8F8F8;
      height: 80px;
      align-items: center;
      // display: inline-block;
      // justify-content: center;
        & p:nth-child(1){
          display: inline;
          // margin: 0 auto;
          margin-left: 19.61%;
          text-align: right;
          vertical-align: baseline;
        }
        & h2{
          // position: absolute;
          font-size: 2.25rem;
        margin: 0 1.25rem;
      }
    }// upper-bottomのとじタグ

  }// upper-footerのとじタグ


  .bottom-footer {
    height: 265px;
    max-width: 1280px;
    margin: 0 auto;
    .bottom-upper{
      height: 229px;
      background-color: #1B224C;
      display: flex;
      color: #FFFFFF;
      .footer-menu{
        width: 46.33%;
        a:first-of-type{
          padding-left: 30%;
          border: none;
        }
        a {
          display: inline-block;
          margin-top: 3.0625rem;
          color: #FFFFFF;
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          border-left:1px solid #FFFFFF ;
          text-align: right;
          }
        }
      .footer-logo{
        width: 53.67%;
        .logo{
          margin-top: 2.1875rem;
          margin-left: 19rem;
          display: inline-block;
          width: 197px;
          height: 58px;
          border: 1px solid #707070;
          background-color: #FFFFFF;
          img{
            width: 159px;
            height: 31px;
            margin-top: .8rem;
            margin-left: 1.2rem;
          }
        }
        .contacts{
          margin-top: 1.6875rem;
          .call{
            margin-left: 24.2rem;
            color: #FFFFFF;
            font-weight: bold;
            position: relative;
          }
          .call::after {
            content:"";
            background:url(images/tel_wh.png) no-repeat center;
            background-size: contain;
            background-repeat: no-repeat;
            width: .62rem;
            height: 1.4rem;
            position: absolute;
            left: -1rem;
            display: inline-block;
          }
          p {
            margin-left: 25.3rem;
            margin-top: .8125rem;
            font-size: 12px;
          }
        }
      }
    }// bottom-upperとじタグ

    .bottom-bottom{
      height: 36px;
      background-color: #F8F8F8;
      & p{
        font-size: .75rem;
        font-weight: bold;
        margin-left: 78.36%;
        padding-top: .7rem;
      }
    }// bottom-bottomのとじタグ
  }// bottom-footerのとじタグ

}
