// /*resetCSS*/
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}
// ここまでリセットcss

html{
  font-size: 16px;
}

body {
  width: 100%;
  // max-width: 2560px;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: “YuGothic”,"游ゴシック体", serif;
  color: #1B224C;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
img{
  max-width: 100%;
  height: auto;
}
a, a:visited, a:hover, a:active {
  color: #1B224C;
  text-decoration: none;
}
// body{
//   background-color: azure;
// }
// .header{
//   background-color: beige;
// }
// .header-inner{
//   background-color: burlywood;
// }
// .main-view{
//   background-color: darkgray;
// }
// .upper-view{
//   background-color: darkkhaki;
// }
// .bottom-view{
//   background-color: lavenderblush;
// }
// .main-contents{
//   background-color:#d4ba9f;
// }
// .main-container{
//   background-color: lightskyblue;
// }
// .first-contents{
//   background-color: navajowhite;
// }
// .second-contents{
//   background-color: plum;
// }
// .third-contents{
//   background-color: seashell;
// }
// .footer{
//   background-color: whitesmoke;
// }
// .upper-footer{
//   background-color: honeydew;
// }
// .bottom-footer{
//   background-color: hotpink;
// }





.header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  z-index: 20;

  .header-inner {
  height: 80px;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  // justify-content: space-between;
  }

  .logo{
    display: flex;
    align-items: center;
    & a{
      text-decoration: none;
    }

    img{
      width: 8.5rem;
      margin-left: 1.06rem;
      margin-right: 1.75rem;
    }
  }
  .globalNav{
    display: block;
    .topics{
      display: flex;
      & a{
        text-decoration: none;
        margin-right: 1.75rem;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
      }
      & a, a:visited, a:hover, a:active {
        color: #1B224C;
      }
    }
  }
  .gnav-btn{
    font-size: 0px;
    margin: 0 0 0 auto;
  }
  .contact-time{
    display: flex;
    flex-direction: column;
    margin-right: 1.44rem;
    & p{
      font-size: 12px;
      text-align: right;
    }
    & a{
      font-weight: bold;
      text-decoration: none;
    }
    & a, a:visited, a:hover, a:active {
        color: #1B224C;
    }
    .call{
      position: relative;
    }
    .call::after {
      content:"";
      background:url(images/call.png) no-repeat center;
      background-size: contain;
      background-repeat: no-repeat;
      width: .62rem;
      height: 1.5rem;
      position: absolute;
      left: -.8rem;
      display: inline-block;
    }
  }
  a.button1, a.button2{
    display: flex;
    text-align: right;
    height: 3.13rem;
    font-size: .875rem;
    font-weight: bold;
    // display: inline-block;
    color: #ffffff;
    // display: block;
    // width: 170px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
  }
  a.button1{
    background: #F5A623 0% 0% no-repeat padding-box;
    width: 9.375rem;
    padding-top: 1rem;
    padding-left: 2.9rem;
  }
  a.button2{
    background: #1B224C 0% 0% no-repeat padding-box;
    width: 8.5625rem;
    padding-top: 1rem;
    padding-left: 1.6rem;
  }
}






.main-view {
  width: 100%;
  height: 1080px;
  color: #FFFFFF;
  padding-top: 80px;

  .upper-view{
  height: 476px;
  // max-width: 1280px;
  margin: 0 auto;
  background: transparent url('images/teachers.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  text-align: center;
  & h1{
    padding-top: 6.9rem;
    font-size: 3rem;
    margin-bottom: .2rem;
  }
  & p{
    font-size: 1.125rem;
    line-height: 2.3rem;
  }
  & a.rq {
    // display: flex;
    margin: 0 auto;
    display: block;
    color: #FFFFFF;

    margin-top: 2.4rem;
    background: #F5A623 0% 0% no-repeat padding-box;
    border-radius: 31px;
    width: 16.25rem;
    height: 3.75rem;
    padding-top: 1.2rem;
    // padding-left: 2.9rem;
  }
  & a.ct{
    color: #FFFFFF;
    // display: flex;
    display: block;
    margin-top: 22px;
    text-decoration: underline;
  }
}
  .bottom-view{
  height: 604px;
  // max-width: 1280px;
  margin: 0 auto;
  background-color: #1B224C;
  color: #ffffff;
  text-align: center;
  z-index: -10;
  & h2{
    font-size: 2.25rem;
    padding-top: 3.6rem;
    margin-bottom: 3.7rem;
  }
  .bottom-view-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4.4em;
    & p{
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 2.5rem;
      margin-left: 1.7rem;
      margin-right: 1.7rem;
    }
  }
  .bv-list{
    margin: 0 auto;
    position: relative;
    max-width: 900px;
    height: 248px;
    background-color: #ffffff;
    color: #1B224C;
    z-index: 0;
    .bv-wrap{
      display: inline-block;
      margin-top: 10px;
      width: 96.44%;
      max-width: 868px;
      height: 225px;
      border: 5px solid #1B224C;
      z-index: 10;
    & h2{
      padding-top: 0;
      margin-bottom: 0;
      font-size: 2.25rem;
      line-height: 3rem;
      margin-top: 1rem;
    }
    & h2 span{
      font-size: 2.25rem;
      position: relative;
      font-weight: bold;
    }
    & h2 span::before{
      content: "";
      width: 102%;
      height: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: -1;
      background-color: #F5A623;
    }
    & p{
      font-size: 1.125rem;
      margin-top: 1.2rem;
      line-height: 2rem;
    }
    }
  }
  }
}




// main_contents

.main-contents {
  // max-width: 1920px;
  height: auto;
  padding-top: 80px;

  .main-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // max-width: 1280px;

    .first-contents {
      height: auto;
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 2.4375rem;
      .first-container{
        & h2{
          font-size: 2.25rem;
          padding-top: 3.6875rem;
          text-align: center;
          padding-bottom: 3.6875rem;
        }



        .first-content, .second-content, .third-content{
          height: 15rem;
          // background-color: lavenderblush;
          margin-bottom: 3.75rem;
          .first-content-wrapper, .second-content-wrapper, .third-content-wrapper {
            display: flex;
            height: 100%;

            .fl-content, .tl-content, .sr-content {
              width: 55.5555%;
              .feature{
                width: 5.625rem;
                height: 1.875rem;
                font-size: .75rem;
                background: #F5A623 0% 0% no-repeat padding-box;
                margin-bottom: 2rem;
                color: #ffffff;
                padding-top: .2rem;
                padding-left: 1.6rem;
              }
              & h3 {
                font-size: 1.625rem;
                margin-bottom: 1.5rem;
                line-height: 2.7rem;
              }
              & p {
                line-height: 1.5rem;
              }
            }
            .fr-content, .tr-content, .sl-content {
              width: 38.88%;
              margin: 0 0 0 auto;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .second-content{
          height: 15rem;
          // background-color: lemonchiffon;
          margin-bottom: 3.75rem;
          .second-content-wrapper{
            .sl-content{
              margin: 0 auto 0 0;
            }
          }
        }
        .third-content{
          height: 15rem;
          // background-color: lightblue;
          margin-bottom: 5rem;
        }
      } // first-containerのとじタグ
      .price{
        height: 13.5625rem;
        // background-color: lightcoral;
        background: transparent url('images/price.png') 0% 0% no-repeat padding-box;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #FFFFFF;
        h3{
          padding-top: 3.81rem;
          font-size: 1.625rem;
          margin-bottom: 1.6875rem;
        }
        a.button3{
          display: inline-block;
          border: 1px solid #FFFFFF;
          border-radius: 1.875rem;
        width: 12.5rem;
        height: 3.125rem;
        padding-top: .8rem;
        // padding-left: 2.9rem;
        color: #FFFFFF;
        }
      }
    }// first-contentsのとじタグ



    .second-contents {
      // height: 608px;
      height: auto;
      background-color: #1B224C;
      color: #ffffff;
      text-align: center;
      padding-bottom: 3.75rem;
      & h2{
        font-size: 2.25rem;
        padding-top: 3.5rem;
        margin-bottom: 8.5rem;
      }
      .wp{
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
        .wrapper{
          max-width: calc(33.33333333% - 30px * 2 / 3);
          p {
            text-align: left;
            line-height: 1.8rem;
            margin-bottom: .7rem;
            font-weight: bold;
          }
          .pic{
            background-color: #FFFFFF;
            height: 171px;
            img{
              // width: 100%;
              height: 100%;
              object-fit: cover;
              // margin-top: 1.9rem;
            }
          }
          .details{
            margin-top: 1rem;
            display: flex;
            color: #1B224C;
            height: 2rem;
            & p{
              padding-top: .1rem;
              background: #F8F8F8 0% 0% no-repeat padding-box;
              font-weight: unset;
              margin-bottom: 0;
            }
            .works{
              padding-left: .625rem;
              width: 35.71%;
              margin-right: .5rem;
            }
            .name{
              width: 64.29%;
              padding-left: .875rem;
            }
          }
          p.feature{
            padding-top: .1rem;
            height: 2rem;
            padding-left: .875rem;
            font-weight: unset;
            margin-top: .625rem;
            background: #F8F8F8 0% 0% no-repeat padding-box;
            color: #1B224C;
          }
        }
      }
    }





    .third-contents {
      height: auto;
      .third-container{
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        // background-color: lightgreen;
        & h2 {
          font-size: 2.25rem;
          text-align: center;
          padding-top: 3.5rem;
          padding-bottom: 3.2rem;
        }
        .first-block{
          height: 280px;
          margin-bottom: 4.6rem;
          .fb-item{
            align-items: center;
            height: 4rem;
            // width: 100%;
            margin-bottom: .5rem;
            display: flex;
            .number{
              height: 100%;
              width: 4rem;
              background: #F5A623 0% 0% no-repeat padding-box;
              color: #FFFFFF;
              font-weight: bold;
              padding-top: 1.35rem;
              padding-left: 1.35rem;
            }
            .fb-info{
              width: 52.25rem;
              display: flex;
              line-height: 2rem;
              background: #F8F8F8 0% 0% no-repeat padding-box;
              height: 100%;
              & h4{
                display: inline-block;
                padding-top: 1rem;
                padding-left: 1.3125rem;
                width: 214px;
                // border-right: 1px solid #C3C3C3;
                font-size: 1.125rem;
                position: relative;
              }
              h4:before {
                content: '';
                position: absolute;
                left: 93%;
                bottom: 30px;/*線の上下位置*/
                display: inline-block;
                width: 29px;/*線の長さ*/
                height: 1px;/*線の太さ*/
                // -webkit-transform: translateY(-50%);
                -webkit-transform: rotate(90deg);
                // transform: translateY(-50%);/*位置調整*/
                transform: rotate(90deg);/*位置調整*/
                background-color:#C3C3C3;/*線の色*/
                border-radius: 1px;/*線の丸み*/
              }
              & p{
                padding-top: 1rem;
                padding-left: 3.3125rem;
              }
            }
          }

        }// first-blockのとじタグ



        .second-block{
          // height: 434px;
          // background-color: darkgoldenrod;
          margin-bottom: 5.64rem;
          & h2{
            padding-top: 0;
            padding-bottom: 1.8rem;
          }
          .faq-list{
            .faq-list-q{
              height: 4.5rem;
              border-top: 1px solid #1B224C;
              cursor: pointer;
              display: flex;
              align-items: center;
              position: relative;
              // justify-content: center;
            }
            // 案１
            .toggle-btn{
              position: absolute;
              top:50%;
              right: 20px;
              transform: translateY(-50%);
              // background: #0052a4;
              display: block;
              width: 25px;
              height: 25px;
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
              border-radius: 50%;
            }
            // .toggle-btn:before, .toggle-btn:after {
            //     display: block;
            //     content: '';
            //     background-color: #1B224C;
            //     position: absolute;
            //     width: 25px;
            //     height: 3px;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //   }
            //   .toggle-btn:before {
            //     width: 3px;
            //     height: 25px;
            //   }
            //   .faq-list-q.selected.toggle-btn::before {
            //     transform: translateY(-50%) rotate(90deg);
            //     // transition: .3s;
            //     // content: normal;
            //   }
              // .faq-list dd {
              //   display: none;
              // }
                // 案２
                .faq-list-q:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 8px;
                  width: 24px;
                  height: 2px;
                  background: #1B224C;
                  transform: translateY(-50%);
                }

                /* ②プラスの縦線 */
                .faq-list-q:after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  /* 8px+12px-1px(幅2pxの半分) */
                  right: 19px;
                  width: 2px;
                  height: 24px;
                  background: #1B224C;
                  transform: translateY(-50%);
                  transition: .3s;
                }

                /* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
                .faq-list-q.selected:after {
                  top: 25%;
                  opacity: 0;
                  transform: rotate(90deg);
                }


                .faq-list-a{
                  height: 4.1rem;
                  background-color: #F8F8F8;
                  display: none;
                  display: flex;
                  align-items: center;
                  // justify-content: center;
                  padding-left: 1.625rem;
                  margin-bottom: 1rem;
                }
                & .faq-list-q:nth-child(9){
                  height: 1px;
                  // .faq-list-q:before{
                    display: none;
                  // }
                }
              }

        }// second-blockのとじタグ







        .third-block{
          display: flex;
          // background-color: lightgrey;
          height: auto;
          padding-bottom: 5rem;
          .blog{
            max-width: 430px;
            // margin-right: 67px;
            & h3{
              font-size: 2rem;
              padding-bottom: 1.875rem;

            }
            .blog-item{
              display: flex;
              position: relative;
              margin-bottom: 1.9375rem;
              & img{
                width: 150px;
                object-fit: cover;
              }
              .category{
                width: 78px;
                height: 23px;
                background: #1B224C 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                position: absolute;
                font-size: .75rem;
                color: #FFFFFF;
                text-align: center;
                padding-top: .1rem;
              }
              .blog-info{
                margin-left: 1.25rem;
                width: 260px;
                & h4{
                  font-size: 1rem;
                  line-height: 1.7rem;
                  text-decoration: underline;
                }
                & time{
                  font-size: .75rem;
                  display: inline-block;
                  margin-top: 2.7rem;
                }
              }
            }
          }
          .info{
            max-width: 430px;
            width: 100%;
            margin:0 0 0 auto;
            & h3{
              font-size: 2rem;
              padding-bottom: 1.875rem;
            }
            .info-item{
              max-width: 402px;
              height: 87px;
              margin-bottom: 1rem;
              & time{
                font-size: .75rem;
                display: inline-block;
                margin-bottom: 1rem;
              }
              & p{
                font-size: 1rem;
                text-decoration: underline;
              }
            }
          }
        }// third-blockのとじタグ

      }// third-containerのとじタグ
    }// third-contentsのとじタグ
  }// main-containerのとじタグ
}// mainのとじタグ

.footer {
  height: 601px;

  .upper-footer {
    height: 336px;
    // max-width: 1280px;
    margin: 0 auto;
    .upper-upper{
      height: 256px;
      text-align: center;
      background: transparent url('images/cta.png') 0% 0% no-repeat padding-box;
      background-position: center;
      background-size: cover;
      color: #FFFFFF;
      & h3{
        padding-top: 4.2rem;
        font-size: 2rem;
        padding-bottom: .4rem;
      }
      & a.rq {
      margin: 0 auto;
      display: block;
      color: #FFFFFF;
      margin-top: 1rem;
      background: #F5A623 0% 0% no-repeat padding-box;
      border-radius: 25px;
      width: 280px;
      height: 50px;
      padding-top: .85rem;
      }
      & a.ct{
      color: #FFFFFF;
      display: block;
      margin-top: 1.3rem;
      text-decoration: underline;
      }
    }// upper-upperのとじタグ

    .upper-bottom{
      margin: 0 auto;
      background-color: #F8F8F8;
      height: 80px;
      // text-align: center;
      // display: inline-block;
      // justify-content: center;
      .upper-bottom-wrap{
        // align-items: center;
        margin: 0 auto;
        max-width: 776px;
        display: flex;
        height: 100%;
        position: relative;

        & p:nth-child(1){
          // display: inline;
          font-weight: bold;
          // margin: 0 auto;
          // margin-left: 19.61%;
          // text-align: right;
          vertical-align: baseline;
          // position: absolute;
        }
        & h2{
          // display: inline;
          // position: absolute;
          font-size: 2.25rem;
          margin: 0 1.25rem;
          padding-top: .8rem;
        }
        & p{
          padding-top: 2.2rem;
          // position: absolute;
        }
      }
    }// upper-bottomのとじタグ

  }// upper-footerのとじタグ


  .bottom-footer {
    height: 265px;
    // max-width: 1280px;
    margin: 0 auto;
    .bottom-upper-wrapper{
      background-color: #1B224C;
    }
    .bottom-upper{
      max-width: 900px;
      margin: 0 auto;
      height: 229px;
      display: flex;
      justify-content: space-between;
      color: #FFFFFF;
      .footer-menu{
        // width: 71.17%;
        a:first-of-type{
          // padding-left: 30%;
          padding-left: 0;
          border: none;
        }
        a {
          display: inline-block;
          margin-top: 3.0625rem;
          color: #FFFFFF;
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          border-left:1px solid #FFFFFF ;
          text-align: right;
        }
      }
      .footer-logo{
        // width: 28.83%;
        .logo{
          margin-top: 2.1875rem;
          // margin-left: 19rem;
          display: inline-block;
          width: 197px;
          height: 58px;
          border: 1px solid #707070;
          background-color: #FFFFFF;
          img{
            width: 159px;
            height: 31px;
            margin-top: .8rem;
            margin-left: 1rem;
          }
        }
        .contacts{
          margin-top: 1.6875rem;
          text-align: right;
          .call{
            // margin-left: 24.2rem;
            color: #FFFFFF;
            font-weight: bold;
            position: relative;
          }
          .call::after {
            content:"";
            background:url(images/tel_wh.png) no-repeat center;
            background-size: contain;
            background-repeat: no-repeat;
            width: .62rem;
            height: 1.4rem;
            position: absolute;
            left: -1rem;
            display: inline-block;
          }
          p {
            // margin-left: 25.3rem;
            margin-top: .8125rem;
            font-size: 12px;
          }
        }
      }
    }// bottom-upperとじタグ

    .bottom-bottom{
      max-width: 900px;
      margin: 0 auto;
      height: 36px;
      background-color: #F8F8F8;
      & p{
        text-align: right;
        font-size: .75rem;
        font-weight: bold;
        // margin-left: 78.36%;
        padding-top: .7rem;
      }
    }// bottom-bottomのとじタグ
  }// bottom-footerのとじタグ

}



//-------------------------//
// 以下、price.htmlのスタイル

.top-pic-price{
  padding-top: 80px;
  background: transparent url('images/plan.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 301px;
  & h2{
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
  }
}

.pan{
  height: 50px;
  background-color:#F8F8F8;
  display: flex;
  padding-top: .9rem;
  // width: 100%;
  // max-width: 1280px;
  margin: 0 auto;

  & a:nth-child(1){
    margin-left: 11.875rem;
    text-decoration: underline;
    // display: inline;
  }
  & a, a:visited, a:hover, a:active {
        color: #1B224C;
  }
  p{
    margin: 0 .375rem 0 .375rem;
  }
}

.price-detail{
  height: auto;
  .price-detail-1{
    width: 900px;
    margin: 0 auto;
    & h2{
      text-align: center;
      font-size: 2rem;
      margin-top: 3.625rem;
      margin-bottom: 3.75rem;
    }
    .enter-price-wrap{
      display: flex;
      justify-content: center;
      p{
        font-size: 1.375rem;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        padding-top: 1.9rem;
      }
      .enter-price, .monthly-price{
        width: 17.5rem;
        height: 5.625rem;
        background-color: #1B224C;
        margin-bottom: 2.875rem;
      }
      .plus{
        margin: 0 2.1875rem 0 2.1875rem;
        padding-top: .6rem;
        font-size: 3.5rem;
      }
    }
    p{
      line-height: 1.8rem;
    }

  }// .price-detail-1のとじタグ


  .price-detail-2{
    margin-top: 5.625rem;
    margin-bottom: 3.875rem;
    & h2{
      font-size: 2rem;
      text-align: center;
    }

    .plan-wrap{
      width: 900px;
      margin:0 auto;
      display: flex;
    }
    .plan{
      // max-width: calc(25% - 7px * 3 / 4);
      margin-top: 6.625rem;
      width: 220px;
      margin-left: .4375rem;
      .plan-title{
        background-color: #1B224C;
        height: 3.75rem;
        h3{
          color: #FFFFFF;
          text-align: center;
          padding-top: 1rem;
        }
        h5{
          color: #FFFFFF;
          text-align: center;
          padding-top: 1.4rem;
          margin: 0px;
          font-size: 1rem;
        }
      }
      .memo{
        border: 0.5px solid #1B224C;
        height: 474px;
      }
      .mt-price{
        text-align: center;
        margin-bottom: 3rem;
        .pr{
          margin-top: 1.875rem;
          margin-bottom: .875rem;
          font-size: 1.5625rem;
        }
      }
      .plan-detail{
        text-align: center;
        p{
          margin-bottom: 1.4375rem;
        }
      }
    }// plan
    .plan:nth-child(3){
      margin-top: 4.375rem;
      height: 503px;
      .plan-title{
        background-color: #F5A623;
        height: 96px;
      }
      h5{
        padding-top: 1rem;
      }
      .pr{
        color: #F5A623;
      }
    }
  }// .price-detail-2のとじタグ

}







//-------------------------//
// 以下、blog.htmlのスタイル

.top-pic-blog{
  padding-top: 80px;
  background: transparent url('images/blog.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 301px;
  & h2{
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
  }
}




.blog-detail{
  .blog-detail-1{
    width: 900px;
    margin: 0 auto;
    h2{
      margin-top: 3.625rem;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3.75rem;
    }

    .blog-item{
      display: flex;
      position: relative;
      margin-bottom: 5.8125rem;
      & img{
        width: 240px;
        object-fit: cover;
      }
      .category{
        width: 80px;
        height: 28px;
        background: #1B224C 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        position: absolute;
        font-size: .75rem;
        color: #FFFFFF;
        text-align: center;
        padding-top: .25rem;
      }
      .blog-info{
        margin-left: 3.125rem;
        width: 610px;
        & time{
          display: inline-block;
          margin-bottom: .8rem;
        }
        & h4{
          font-size: 1.625rem;
          line-height: 2.4rem;
          text-decoration: underline;
          margin-bottom: 1rem;
        }
        & p{
          line-height: 1.6rem;
        }
      }
    }// blog-item
  }
}


.page-nation{
  .page-wrap{
    display: flex;
    justify-content: center;
    .num{
      width: 50px;
      height: 50px;
      font-weight: bold;
      margin-left: 1.1875rem;
      margin-bottom: 2.8125rem;
      border: 1px solid #1B224C;
    }
    a{
      display: block;
      text-align: center;
      padding-top: .8rem;
    }
    .num:nth-child(4){
      // margin-left: 36px;
      // margin-right: 36px;
      border: none;
    }
  }
}







//-------------------------//
// 以下、news.htmlのスタイル

.top-pic-news{
  padding-top: 80px;
  background: transparent url('images/news.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 301px;
  & h2{
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
  }
}



.news-detail{
  .news-detail-1{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 4.0625rem;
    h2{
      margin-top: 3.625rem;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 3.75rem;
    }
    .news-wrap{
      width: 100%;
      .news-sentence{
        height: 4rem;
        width: 100%;
        border-top: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
        display: flex;
        padding-top: 1.3rem;
        time{
          margin-right: 2rem;
        }
        p{
          text-decoration: underline;
        }
      }
    }

  }
}






// ----------------//
// 以下、contact.htmlのスタイル

.top-pic-contact{
  padding-top: 80px;
  background: transparent url('images/cta.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 301px;
  & h2{
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
  }
}

.contact-detail{
  width: 700px;
  margin: 0 auto;
  .contact-form{
    margin-top: 3.625rem;
    margin-bottom: 5.125rem;
    .intro{
      margin-bottom: 2.5625rem;
      line-height: 2rem;
    }
    .box{
      display: flex;
      flex-direction: column;
      label{
        margin-bottom: .75rem;
      }
    }
    #company, #name, #mail, #tel{
      margin-bottom: 1.25rem;
      border: 0.5px solid #1B224C;
      height: 50px;
      font-size: .75rem;
      padding-left: 20px;
    }
    .radio-box{
      // display: flex;
      // flex-direction: column;
      p{
        margin-bottom: 1.3125rem;
      }
      span{
        font-weight: bold;
      }
      label{
        display: block;
        margin-bottom: 1.125rem;
      }
    }
    textarea{
      height: 240px;
    }

    .box1 {
          margin-top: 1.875rem;
          text-align: center;
          p{
            margin-bottom: 2.0625rem;
            span{
              color: #F5A623;
              text-decoration: underline;
            }
          }
    }

    /* ラベルのスタイル　*/
    .box1 label {
      padding-left:		30px;			/* ラベルの位置 */
      display:		inline-block;
      cursor:			pointer;
      position:		relative;
      margin-bottom: 3rem;
    }

    /* ボックスのスタイル */
    .box1 label:before {
      content:		'';
      width:			20px;			/* ボックスの横幅 */
      height:			20px;			/* ボックスの縦幅 */
      display:		inline-block;
      position:		absolute;
      left:			0;
      background-color:	#fff;
      // box-shadow:		inset 1px 2px 3px 0px #000;
      border: 1px solid #707070;
      // border-radius:		6px 6px 6px 6px;
    }
    /* 元のチェックボックスを表示しない */
    .box1 input[type=checkbox] {
      display:		none;
    }
    /* チェックした時のスタイル */
    .box1 input[type=checkbox]:checked + label:before {
      content:		'\2713';		/* チェックの文字 */
      font-size:		20px;			/* チェックのサイズ */
      color:			#fff;			/* チェックの色 */
      background-color:	#06f;			/* チェックした時の色 */
    }

    #js-submit{
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      color: #ffffff;
      align-items: center;
      background: #1B224C 0% 0% no-repeat padding-box;
      border-radius: 5px;
    }


  }// contact-form
}

// 要注意
.footer{
  height: auto;
}







// ----------------//
// 以下、contact.htmlのスタイル
.top-pic-send{
  padding-top: 80px;
}

.send-message{
  height: auto;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  p{
    margin-top: 5.1875rem;
    line-height: 2rem;
    margin-bottom: 5.1875rem;
  }

  & a{
    text-decoration: underline;
    margin-bottom: 5.0625rem;
    display: block;
  }

}







// ----------------//
// 以下、blog_detail.htmlのスタイル
.top-pic-bd{
  padding-top: 80px;
}


.all-wrap{
  padding-top: 3.75rem;
  padding-bottom: 4.3125rem;
  display: flex;
  width: 895px;
  margin: 0 auto;
  main{
    width: 590px;
    margin-right: 2.25rem;
    article{
      .category{
        width: 7rem;
        height: 1.9375rem;
        background-color: #1B224C;
        color: #FFFFFF;
        padding-top: .4rem;
        text-align: center;
        font-size: .75rem;
        margin-bottom: 1.875rem;
      }
      h1{
        font-size: 1.75rem;
        line-height: 2.5rem;
        margin-bottom: .7rem;
      }
      time{
        margin-bottom: 1.5625rem;
        display: block;
        text-align: right;
      }
      img{
        width: 100%;
      }
      .blog-info{
        h3{
          font-size: 1.75rem;
          margin-top: 2.5rem;
          margin-bottom: 1.875rem;
        }
        p{
          line-height: 1.5rem;
          margin-bottom: 2.6rem;
        }
        h4{
          font-size: 1.625rem;
          border-left: 4px solid #1B224C;
          margin-bottom: 1.6875rem;
        }
      }
      .quote{
        background: #F8F8F8 0% 0% no-repeat padding-box;
        height: 6.5rem;
        margin-bottom: 1.875rem;
        display: flex;
        .mark{
          font-size: 5.625rem;
          color: #B4B4B4;
          width: 2.875rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
        p{
          display: block;
          width: 490px;
          padding-top: 1.5rem;
          line-height: 1.8rem;
        }
      }
      ul{
        margin-top: 1.7rem;
        margin-bottom: 5rem;
        li{
          margin-bottom: .3rem;
          line-height: 1.5rem;
        }
      }
      a{
        display: block;
        text-decoration: underline;
        color: #F5A623;
        margin-bottom: 3rem;
      }
    }// article



    section{
      & h3{
        font-size: 2rem;
        padding-bottom: 1.875rem;

      }
      .blog-item{
        display: flex;
        position: relative;
        margin-bottom: 1.75rem;
        & img{
          width: 210px;
          object-fit: cover;
        }
        .category{
          width: 80px;
          height: 28px;
          background: #1B224C 0% 0% no-repeat padding-box;
          border: 1px solid #707070;
          position: absolute;
          font-size: .75rem;
          color: #FFFFFF;
          text-align: center;
          padding-top: .1rem;
        }
        .blog-info{
          margin-left: 2rem;
          width: 348px;
          & time{
            display: inline-block;
            margin-bottom: 1.8125rem;
          }
          & h4{
            font-size: 1.125rem;
            line-height: 1.7rem;
            text-decoration: underline;
          }
        }
      }
    }
  }// main



  .side-bar{
    width: 269px;
    .relation{
      .rl-article{
        width: 269px;
        height: 63px;
        background: #1B224C 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        color: #FFFFFF;
        p{
          font-size: 1.3125rem;
          font-weight: bold;
          padding-top: 1rem;
          text-align: center;
        }
      }
      .rl-detail{
        margin-top: 1.875rem;
        display: flex;
        margin-bottom: 2.625rem;
        div{
          width: 100px;
          height: 70px;
          background: #D5D5D5 0% 0% no-repeat padding-box;
        }
        p{
          font-size: .75rem;
          width: 152px;
          margin-left: 1rem;
          line-height: 1.5rem;
          text-decoration: underline;
        }
      }
    }// relation
    .category-list{
      .cate-title{
        margin-bottom: 3rem;
        width: 269px;
        height: 63px;
        background: #1B224C 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        color: #FFFFFF;
        p{
          font-size: 1.3125rem;
          font-weight: bold;
          padding-top: 1rem;
          text-align: center;
        }
      }
      li{
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }


  }// side-bar
}









// ----------------//
// 以下、news_detail.htmlのスタイル
.top-pic-bd{
  padding-top: 80px;
}

.news-article{
  width: 900px;
  margin: 0 auto;
  h1{
    font-size: 1.75rem;
    margin-top: 3.75rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }
  time{
    margin-bottom: 3.75rem;
    display: block;
    text-align: right;
  }

  .news-info{
    h3{
      font-size: 1.625rem;
      margin-bottom: 1.875rem;
    }
    p{
      line-height: 1.5rem;
      margin-bottom: 4rem;
    }
    h4{
      font-size: 1.375rem;
      border-left: 4px solid #1B224C;
      margin-bottom: 1.875rem;
    }
  }
      .quote{
        background: #F8F8F8 0% 0% no-repeat padding-box;
        height: 6.5rem;
        margin-bottom: 1.875rem;
        display: flex;
        .mark{
          font-size: 5.625rem;
          color: #B4B4B4;
          width: 2.875rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
        p{
          display: block;
          width: 800px;
          padding-top: 1.5rem;
          line-height: 1.8rem;
        }
      }
      .in-pic{
        width: 400px;
        max-width: 100%;
        height: auto;

        img{
          width: 400px;
          height: 250px;
          object-fit: cover;
        }
      }
      ul{
        margin-top: 2.25rem;
        margin-bottom: 5rem;
        li{
          margin-bottom: .3rem;
          line-height: 1.5rem;
          list-style: inside;
        }
      }
      a{
        display: block;
        text-decoration: underline;
        color: #F5A623;
        margin-bottom: 3rem;
      }
  }
